aiofiles==24.1.0
annotated-types==0.7.0
anyio
appnope
argon2-cffi 
argon2-cffi-bindings 
asgiref
asttokens
async-lru 
attrs 
babel
beautifulsoup4
bleach
Bottleneck
Brotli==1.1.0
brotlicffi
certifi
cffi 
charset-normalizer
click==8.2.1
comm
contourpy
cycler
debugpy 
decorator 
defusedxml
distro==1.9.0
dj-database-url==3.0.1
Django
django-browser-reload==1.19.0
django-tailwind==4.2.0
dotenv==0.9.9
executing 
fastapi==0.116.1
fastjsonschema
ffmpy==0.6.1
filelock==3.19.1
fonttools
fsspec==2025.9.0
google==3.0.0
gradio==5.45.0
gradio_client==1.13.0
groovy==0.1.2
groq==0.31.1
gunicorn==23.0.0
h11
hf-xet==1.1.10
httpcore
httpx
huggingface-hub==0.34.4
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
jiter==0.10.0
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
Markdown
markdown-it-py==4.0.0
MarkupSafe
matplotlib==3.10.0
matplotlib-inline 
mdurl==0.1.2
mistune 
nbclient 
nbconvert
nbformat
nest_asyncio 
notebook 
notebook_shim
numexpr
numpy
ollama==0.5.3
openai==1.107.2
orjson==3.11.3
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
ply
prometheus_client
prompt_toolkit
psutil
psycopg2-binary==2.9.10
ptyprocess
pure-eval
pycparser
pydantic==2.11.9
pydantic_core==2.33.2
pydub==0.25.1
Pygments
pyparsing
PyQt5==5.15.10
PyQt5_sip
PySocks
python-dateutil
python-dotenv==1.1.1
python-json-logger
python-multipart==0.0.20
pytz
PyYAML 
pyzmq 
qtconsole
QtPy
referencing 
requests 
rfc3339_validator 
rfc3986_validator
rich==14.1.0
rpds-py
ruff==0.13.0
safehttpx==0.1.6
scikit-learn
scipy
semantic-version==2.10.0
Send2Trash 
setuptools==72.1.0
shellingham==1.5.4
sip 
six 
sniffio 
soupsieve 
sqlparse 
stack-data 
starlette==0.47.3
terminado
threadpoolctl
tinycss2
tomlkit==0.13.3
tornado
tqdm==4.67.1
traitlets
typer==0.17.4
typing-inspection==0.4.1
typing_extensions
tzdata
urllib3
uvicorn==0.35.0
wcwidth
webencodings
websocket-client
websockets==15.0.1
wheel==0.45.1
whitenoise==6.10.0
widgetsnbextension
